<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Doctor Detail</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/members"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button color="primary">
        <ion-icon name="add-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
 
  <ion-card>
    <div>
      <app-member-personal-detail
        [member]="member!"
        [isList]="false"
      ></app-member-personal-detail>

      <ion-row class="business-info">
        <ion-col size="6">
          <app-info-card
            heading="Location"
            [value]="member?.location"
          ></app-info-card>
        </ion-col>

        <ion-col size="6">
          <app-info-card
            heading="Speciality"
            [value]="member?.speciality"
          ></app-info-card>
        </ion-col>

        <ion-col size="6">
          <app-info-card
            heading="Email"
            [value]="member?.email"
          ></app-info-card>
        </ion-col>

        <ion-col size="6">
          <app-info-card
            heading="Phone Number"
            [value]="member?.phone"
          ></app-info-card>
        </ion-col>
        <ion-col size="6">
          <app-info-card
            heading="Medical Office"
            [value]="member?.location"
          ></app-info-card>
        </ion-col>
        <ion-button id="open-modal" expand="block">Files</ion-button>
        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Diagnostics Upload</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <app-image-upload></app-image-upload>
            </ion-content>
          </ng-template>
        </ion-modal>
        <ion-col size="6">
          
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="ion-margin ion-padding-top borderTop">
      <ion-col size="4">
        <app-action-button icon="call" buttonName="Call"></app-action-button>
      </ion-col>

      <ion-col size="4">
        <app-action-button
          icon="logo-whatsapp"
          buttonName="Whatsapp"
        ></app-action-button>
      </ion-col>

      <ion-col size="4">
        <app-action-button
          icon="chatbox-ellipses"
          buttonName="SMS"
        ></app-action-button>
      </ion-col>

      <ion-col size="4">
        <app-action-button
          icon="person"
          buttonName="Attendance"
        ></app-action-button>
      </ion-col>

      <ion-col size="4">
        <app-action-button
          icon="barbell"
          buttonName="Renew"
        ></app-action-button>
      </ion-col>

      <ion-col size="4">
        <app-action-button icon="ban" buttonName="Block"></app-action-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-item-divider class="ion-margin-top"> Packages </ion-item-divider>

  <ion-card class="package">
    <ion-card-header>
      <ion-label color="primary">{{ member?.package?.plan }}</ion-label>
    </ion-card-header>

    

    <ion-card-content>
      <ion-row>
        <ion-col size="4">
          <div align="center">
            <app-info-card
              heading="Expérience"
              [value]="10"
            ></app-info-card>
          </div>
        </ion-col>

        <ion-col size="4">
          <div align="center">
            <app-info-card
              heading="Languages"
              [value]="languages"
            ></app-info-card>
          </div>
        </ion-col>

        <ion-col size="4">
          <div align="center">
            <app-info-card
              heading="Note "
              [value]="7.5"
            ></app-info-card>
          </div>
        </ion-col>

        <ion-col size="4">
          <div align="center">
            <app-info-card
              heading="payment Methods"
              [value]="paymentMethods"
            ></app-info-card>
          </div>
        </ion-col>

        <ion-col size="4">
          <div align="center">
            <app-info-card
              heading="Consultation Price"
              [value]="consultationPrice"
            ></app-info-card>
          </div>
        </ion-col>

        <ion-col size="4">
          <div align="center">
            <app-info-card
              heading="Urgences"
              [value]="urgence"
            ></app-info-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  

  

</ion-content>

