<ion-header class="ion-no-border">
    
    <ion-title class="ion-text-center ">
      Patient Overview
    </ion-title>
    <ion-buttons slot="start" mode="md">
        <ion-back-button color="light" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  <ion-grid></ion-grid>
  <ion-list class="popover" lines="none">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h1>
              <b>{{requestNumber}}</b>
              <ion-text class="ion-margin-start" color="primary">-12%</ion-text>
            </h1>
            <p>Appointment Requests</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label class="ion-text-wrap ion-text-right">
            <h1>
              <ion-text class="ion-margin-end" color="primary">+49%</ion-text>
              <b>{{patientNumber}}</b>
            </h1>
            <p>Patients</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12"></ion-col>
    </ion-row>
  </ion-list>
<!--les 2 bouttons -->
  <div class="ion-padding" (ionChange)="segmentChanged($event)">
    <ion-segment mode="ios" [value]="segmentValue">
      <ion-segment-button value="1">
        <ion-label>Patients List</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Appointment Requests</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<ion-content>
  <ion-item color="light" lines="none">
    <ion-label class="heading">{{segmentValue == '1' ? 'Patient Overview' : 'Upcoming Appointment Requests'}}</ion-label>
    <ion-button slot="end" fill="clear" size="small">
      <ion-icon slot="icon-only" name="options"></ion-icon>
    </ion-button>
  </ion-item>
  <!--pour la liste des patients-->
  <ion-list lines="none" *ngIf="segmentValue == '1'">
    <ion-item-group>
      <ion-item class="ion-padding-vertical popItem" 
        *ngFor="let item of patientList">
     <ion-card>
      <ion-img [src]="item?.photo"></ion-img>
        </ion-card>
        <ion-label>
          <ion-note color="dark"><b>{{item?.name}}</b></ion-note>
          <p class="ion-text-wrap">{{item?.address}}</p>
          <p>
            <ion-text color="dark">{{item?.age}}</ion-text>
            <ion-text color="dark"><span>&#9679;</span>{{item?.gender}}</ion-text>
          </p>
        </ion-label>
        <app-details-patient [patient]="item"></app-details-patient>

      </ion-item>
    </ion-item-group>
  </ion-list>
<!--pour la liste des demandes-->
<ion-list lines="none" *ngIf="segmentValue == '2'">
  <ion-item-group>
    @for(item of appointmentRequests; track $index) {
   <ion-card class="vertical-align">
   <ion-item lines="none" class="horizontal-align"  >
    <div class="image-container">
      <img [src]="item?.photo" class="photo-img"/>
    </div>
        <ion-label >   
        {{item?.name }} 
       <p>
        {{item?.gender }}
       </p>
        </ion-label>
      </ion-item> 

        <ion-item class="custom-ion-item" lines="inset">
        <ion-label>
        Email:<p> {{item?.email }}</p>
        </ion-label>
        <ion-label>
        Phone:<p>{{item?.phone}}</p>
        </ion-label>
        </ion-item>

           <ion-item class="custom-ion-item2" >
            <ion-icon name="location-outline" class="custom-icon2"></ion-icon>
            <ion-label><p>Location:</p>
            {{item?.address}}
            </ion-label>
             </ion-item>

             <ion-item lines="inset">
              <ion-icon name="calendar-outline" class="custom-icon2" ></ion-icon>
              <ion-label><p>Date of appointment:</p>
                {{item?.date_rdv}}
              </ion-label>
               </ion-item>

             <ion-item class="custom-buttons">
              <ion-button class="decline-button" (click)="declineRequest(item?.email)">Decline</ion-button>
              <ion-button class="accept-button" (click)="acceptRequest(item?.email)">Accept</ion-button>
            </ion-item>
      </ion-card> 
      }
  </ion-item-group>
</ion-list>




</ion-content>