ion-header {

  
    ion-toolbar {
 
      ion-row {
        margin: 0 10px 10px 10px;
      }
    }
  }
  
  .md {
    ion-toolbar {
      
      ion-row {
        margin-top: 5px;
      }
    }
  }
  
  div.selectDiv {
    border-radius: 5px;
    background: var(--ion-color-light);
    color: var(--ion-color-light-contrast);
    ion-select {
      font-size: 0.85rem;
      font-weight: 500;
    }
  }
  
  div.activeFilter {
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-content {
    ion-list {
      margin: 0.8vh;
      background: transparent;
      ion-item-divider {
        margin-bottom: 0.5vh;
      }
    }
  }
  