.date-legend {
  margin-top: 10px;
  font-size: 14px;
}

.date-legend p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.green-box, .red-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 3px;
}

.green-box {
  background-color: green;
}

.red-box {
  background-color: red;
}

