<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button color="black" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Doctors Overview</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block" (click)="setOpen(true)">Add Doctor</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add Doctor</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Name" labelPlacement="stacked" type="text" placeholder="Enter name" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Email" labelPlacement="stacked" type="email" placeholder="Enter email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Speciality" labelPlacement="stacked" type="text" placeholder="Enter speciality" [(ngModel)]="speciality"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea label="Description" labelPlacement="stacked" placeholder="Enter description" [(ngModel)]="description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-input label="Location" labelPlacement="stacked" type="text" placeholder="Enter location" [(ngModel)]="location"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Phone Number" labelPlacement="stacked" type="text" placeholder="Enter Phone Number" [(ngModel)]="phoneNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Image of Doctor</ion-label>
          <input type="file" (change)="onFileSelected($event)">
        </ion-item>
        <ion-item>
          <ion-label>Image of Service</ion-label>
          <input type="file" (change)="onImageServiceSelected($event)">
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  
 

  <ion-list>
    <ion-item *ngFor="let doctor of doctors">
      <ion-avatar slot="start">
        <ion-img [src]="doctor.imageDoctor || 'https://i.pravatar.cc/300?u=' + doctor.name"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ doctor.name }}</h2>
        <p>{{ doctor.speciality }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

