<div>
  <ion-button expand="block"  fill="clear"  class="read-more-btn" (click)="setOpen(true)">Show Details</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Patient's Information</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
      <!--les Informations personnelles du patient -->
       <ion-card>
        <ion-card-header>
          <ion-card-title>Personnal Information</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <ion-item >
            Name: {{ patient?.name }}
        </ion-item>
          <ion-item >
            Location: {{ patient?.address }}
          </ion-item >
          <ion-item>
            Age: {{ patient?.age }}
          </ion-item >
          <ion-item lines="none">
            Gender: {{ patient?.gender }}
          </ion-item>
      </ion-card-content>
       </ion-card>
        <!--changement des rendez vous-->
       <ion-card>
        <ion-card-header>
          <ion-card-title>Upcoming Appointment</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <ion-item lines="none"  class="time-date">
          <ion-label>
          <ion-icon name="calendar-outline"></ion-icon>
          {{ patient?.date_rdv }}
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="custom-buttons">
          <ion-button class="reschedule-button"(click)="setOpenReschedule(true)" >Reschedule</ion-button>
          <!--Modal open when to reschdule appointment  -->
          <ion-modal [isOpen]="isModalOpenReschedule">
            <ng-template>
              <ion-header class="ion-no-border">
                <ion-toolbar>    
                  <ion-buttons slot="start">
                    <ion-button (click)="setOpenReschedule(false)">Close</ion-button>
                  </ion-buttons>
                  <ion-title>Reschedule Appointment</ion-title>
                  <ion-buttons slot="end">
                    <ion-button color="primary" strong (click)="rescheduleAppointment(patient.email)">Add</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="modal-content">
                <div class="group">
                  <ion-item>
                    <ion-label>All-Day</ion-label>
                    <ion-toggle [(ngModel)]="newEvent.allDay"></ion-toggle>
                  </ion-item>
                  <ion-item>
                    <ion-label (click)="showStart=!showStart">Starts</ion-label>
                    <ion-text slot="end">{{newEvent.startTime}}</ion-text>
                  </ion-item>
                  <ion-datetime 
                  #start 
                  *ngIf="showStart" 
                  [value]="newEvent.startTime" 
                  [presentation]="newEvent.allDay?'date':'time-date'"
                  (ionChange)="startChange($event)"
                  >
                 </ion-datetime>
                  <ion-item>
                    <ion-label (click)="showEnd=!showEnd">End</ion-label>
                    <ion-text slot="end">{{newEvent.endTime}}</ion-text>
                  </ion-item>
                  <ion-datetime 
                  #end 
                  *ngIf="showEnd" 
                  [value]="newEvent.endTime" 
                  [presentation]="newEvent.allDay?'date':'time-date'"
                  (ionChange)="endChange($event)"
                  >
                 </ion-datetime>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>
          
          <ion-button class="cancel-button" (click)="setOpenConfim(true)">Confirm</ion-button>  
          <!--Modal open when to Confirm appointment and choose end time  -->
          <ion-modal [isOpen]="isModalOpenConfirm">
            <ng-template>
              <ion-header class="ion-no-border">
                <ion-toolbar>    
                  <ion-buttons slot="start">
                    <ion-button (click)="setOpenConfim(false)">Close</ion-button>
                  </ion-buttons>
                  <ion-title>Confirm Appointment</ion-title>
                  <ion-buttons slot="end">
                    <ion-button color="primary" strong (click)="confirmAppointment()">Confirm</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="modal-content">
                <div class="group">
                  <ion-item>
                    <ion-label>All-Day</ion-label>
                    <ion-toggle [(ngModel)]="newEvent.allDay"></ion-toggle>
                  </ion-item>
                  <ion-item>
                    <ion-label>Starts</ion-label>
                    <ion-text slot="end">{{patient?.date_rdv}}</ion-text>
                  </ion-item>              
                  <ion-item>
                    <ion-label (click)="showEnd=!showEnd">End</ion-label>
                    <ion-text slot="end">{{newEvent.endTime}}</ion-text>
                  </ion-item>
                  <ion-datetime 
                  #end 
                  *ngIf="showEnd" 
                  [value]="newEvent.endTime" 
                  [presentation]="newEvent.allDay?'date':'time-date'"
                  (ionChange)="endChange($event)"
                  >
                 </ion-datetime>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>             
          </ion-item>
        </ion-card-content>
       </ion-card>
        <!--consulter des diagnostics et des documents -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medical Records</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let file of files; let i = index">
                  <ion-thumbnail slot="start">
                    <ion-img [src]="file.DiagnosticFile"></ion-img>
                  </ion-thumbnail>
                  <ion-label class="ion-text-wrap"> {{ file.filname }} </ion-label>
                  <ion-button slot="end" fill="clear" (click)="startUpload(file)">
                    <ion-icon src="assets/icon/cloud-upload-outline.svg"></ion-icon>
                  </ion-button>
                  <ion-button slot="end" fill="clear" (click)="deleteImage(file)">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>