form {
    padding: 20px;
  }
  
  ion-item {
    margin-bottom: 20px;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-input,
  ion-textarea {
    font-size: 1em;
  }
  
  ion-button {
    margin-top: 20px;
  }