<ion-header>
  <ion-toolbar>
    <ion-title>Add Doctor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text" [(ngModel)]="doctorData.fullName" name="fullName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="doctorData.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Speciality</ion-label>
      <ion-input type="text" [(ngModel)]="doctorData.speciality" name="speciality" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="doctorData.description" name="description" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input type="text" [(ngModel)]="doctorData.location" name="location" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="text" [(ngModel)]="doctorData.phoneNumber" name="phoneNumber" required></ion-input>
    </ion-item>

    <!-- Image Of Doctor Upload -->
    <ion-item>
      <ion-label position="floating">Upload Image's Doctor</ion-label>
      <ion-input type="file" (change)=" onImageDoctorChange($event)" name="imageDoctor" required></ion-input>
    </ion-item>
      <!-- Image Of Service Upload -->
      <ion-item>
        <ion-label position="floating">Upload Image's Service</ion-label>
        <ion-input type="file" (change)=" onImageServiceChange($event)" name="imageService" required></ion-input>
      </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!doctorData.fullName || !doctorData.email || !doctorData.speciality || !doctorData.description || !doctorData.location || !doctorData.imageDoctor|| !doctorData.imageService">Add Doctor</ion-button>
  </form>
</ion-content>
