<ion-header>
<ion-toolbar color="primary">
  <ion-title class="center-title">Appointment Scheduler</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <div (ionChange)="timeChanged($event)">
    <ion-segment mode="ios" [value]="segmentValue">
      <ion-segment-button value="1" [class.selected]="segmentValue === '1'">
        <ion-label>Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" [class.selected]="segmentValue === '2'">
        <ion-label>Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3" [class.selected]="segmentValue === '3'">
        <ion-label>Day</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <full-calendar  *ngIf="segmentValue == '1'"
    [options]="calendarOptions">
  </full-calendar>
  <full-calendar  *ngIf="segmentValue == '2'"
  [options]="calendarOptions">
</full-calendar>
<full-calendar  *ngIf="segmentValue == '3'"
[options]="calendarOptions">
</full-calendar>
</ion-content>
