<ion-header class="ion-no-border">
  
  <ion-toolbar class="wrapper">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-label color="light">
        <p>Tunis, Tunisia</p>
      </ion-label>

      <ion-fab-button size="small">
        <ion-icon name="notifications-outline" color="medium"></ion-icon>
        <ion-badge>&#9679;</ion-badge>
      </ion-fab-button>
    </ion-item>

    <ion-toolbar class="srchBar" mode="ios">
      <ion-row>
        <ion-col size="10">
          <ion-searchbar placeholder="Find a doctor near you"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-fab-button size="small" color="light">
            <ion-icon name="options-outline" color="medium"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-list class="ion-margin-top">
    <ion-item-divider mode="ios" color="light">
       Doctors
      <img src="assets/imgs/doctor2.png" />
    </ion-item-divider>
    <div *ngIf="doctors.length === 0">No doctors available</div>
    <swiper-container
      #event_upcoming
      [modules]="swiperModules"
      [slidesPerView]="1.35"
      [keyboard]="true"
      [centerSlides]="true"
    >
     
      <swiper-slide *ngFor="let doctor of doctors; trackBy: trackDoctor">
        <ion-card
          class="event1"
          [routerLink]="['/', 'home', 'events', doctor._id]"
        >
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <ion-img [src]="doctor.image_url"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <p class="location">
                <ion-icon name="location-outline"></ion-icon>
                {{ doctor.location }}
              </p>    
              <p class="title">
                <ion-text color="dark"> {{ doctor.name }} </ion-text>
              </p>
              <ion-text class="date">
                {{ doctor.speciality }}
              </ion-text>              
            </ion-label>
          </ion-item>
        </ion-card>
      </swiper-slide>
      
    </swiper-container>
  </ion-list>

  <ion-list class="ion-margin-top">
    <ion-item-divider mode="ios" color="light">
      Categories
      <img src="assets/imgs/fire2.png" />
      <ion-button slot="end" fill="clear" color="medium"> View All </ion-button>
    </ion-item-divider>

    <swiper-container
      #category
      [modules]="swiperModules"
      [slidesPerView]="2.6"
      [keyboard]="true"
      [centerSlides]="true"
    >
      <swiper-slide>
        <ion-card class="category">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-img [src]="'assets/imgs/select-all.png'"></ion-img>
            </ion-avatar>

            <ion-label> All </ion-label>
          </ion-item>
        </ion-card>
      </swiper-slide>
      @for(ctgory of categories; track $index) {
      <swiper-slide>
        <ion-card class="category">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-img [src]="ctgory.image"></ion-img>
            </ion-avatar>

            <ion-label> {{ ctgory.name }} </ion-label>
          </ion-item>
        </ion-card>
      </swiper-slide>
      }
    </swiper-container>
  </ion-list>

  @for(event of currentEvents; track $index) {
  <ion-card
    [routerLink]="['/', 'home', 'services', event?.id]"
    class="event2"
    [style.backgroundImage]="'url('+ event.image +')'"
  >
  <ion-item lines="none">
    <ion-label>
      {{ event.speciality}}
      <p>
        {{event?.name }}
      </p>
    </ion-label>
    <ion-fab-button slot="end" size="small">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-item>
  </ion-card>
  
  }
</ion-content>



  


